extends layout

block content
    h1 #{title}
    form(action="/articles", method="POST")
        #form-group 
            labe Title:
            input.form-control(name='title', type='text')
        #form-group 
            labe Author:
            input.form-control(name='author', type='text')
        #form-group 
            labe Body:
            textarea.form-control(name='body')
        input.btn.btn-primary(type='submit', value='Submit')